
 
<<<<<<< HEAD
=======

button {
    font-size:16px;
    font-family:Arial;
    width:141px;
    height:45px;
    border-width:2px;
    color:#fff;
    font-weight:bold;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    text-shadow:inset 0px 5px 20px #263666;
    background:linear-gradient(#2dabf9, #0688fa);
    border: none;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(#0688fa, #2dabf9);
}


label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
}




footer {
    /* text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%; */


    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
>>>>>>> 626596cab3265aee25663941cc74f1d09bc1419f
