.invite * {
    margin: 0;
  }
  
  .invite {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem 1.2rem;
    word-wrap: break-word;
    text-align: center;
  }

  .form-wrapper {
    width: 100%;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .form{
    width: 50%;
    text-align: center;
  }
  
  .form form {
    margin-top: 1.6rem
  }

  .buttonClass {
    font-size:17px;
    font-family:Arial;
    width:112px;
    height:42px;
    border-width:0px;
    color:#fff;
    border-color:#0b0e07;
    font-weight:bold;
    border-top-left-radius:34px;
    border-top-right-radius:34px;
    border-bottom-left-radius:34px;
    border-bottom-right-radius:34px;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    text-shadow:inset 0px 1px 0px #263666;
    background:linear-gradient(#2dabf9, #0688fa);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#0688fa, #2dabf9);
  }

  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  
 
